repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: Make sure pixi environment is up to date
        entry: pixi install
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      - id: lint
        name: Run gradle check
        language: system
        entry: pixi run lint:fix
        pass_filenames: false
